.page {
  display: flex;
  gap: 20px;
  width: 754px;
  padding: 0 20px 0 20px;
  margin: 20px auto 20px auto;
}

.flex {
  display: flex;
  flex-direction: column;
  
}

.logo {
  margin: 20px auto 20px auto;
  width: 60px;
}
